<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Für Browser -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <title>NestJS WebSocket Example using RxJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.6.6/rxjs.umd.min.js"
        integrity="sha512-r0R52UFUS1Wx7K9DKFCzPkZbmB0xVXJjc/sk9JByGAcHH2VXrj3tKBzmoYp9PgJm8xRVHlfjvDYN4mG7mhnv4w=="
        crossorigin="anonymous"></script>
    <script src="index.js" type="module" defer></script>
</head>

<body>
    <h1>
        {{ message }}
    </h1>
    <pre><code id="output"></code></pre>
</body>

</html>